.hawaii-background{
    background: url(../assets/hawaii.jpg) left 10% bottom 42%/cover no-repeat border-box;  
}

.iceland-background{
    background: url(../assets/iceland.jpg) left 10% bottom 45%/cover no-repeat border-box;
}

.greece-background {
    background: url(../assets/greece.jpg) left 10% bottom 45%/cover no-repeat border-box;
}

.destination-background__title{
    color: white;
    margin: 0;
    font-size: 4rem;
    padding-top: 4rem;
    padding-left: 2rem;
}

.destination-background__height{
    height: 50rem;
}

.schedules{
    display: flex;
    justify-content: center;
    height: 50%;
}

.schedule {
    background-color: white;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 20%;
    
}

.schedule__list{
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 1.5rem;
}

.schedule__day {
    border-bottom: 2px solid black;
    text-align: center;
    margin: 0.5rem;
}

.schedule__activity{
    background-color: #f0f0f0;
    padding: 1rem 0;
    margin: 0 0.8rem 0.8rem 0.8rem;
}