*{
    box-sizing: border-box;
}

body{
    width: 80rem;
    height: 65rem;
    font-family: Verdana;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list{
    display: flex;
}

.header-nav-list__item{
    list-style: none;
    margin: 0 1rem;
}

.main{
    height: inherit;
}

.main-hero__image{
    height: 20rem;
    width: 26.75rem;
}

.main-recommendation__image{
    height: 20rem;
    width: 16rem;
}

.main-recommendation{
    position: relative;
}

.main-recommendations__images{
    display: flex;
    justify-content: space-evenly;
}

.main-recommendation__image--text{
   position: absolute;
   right: 0.625rem;
   bottom: 0;
   color: white; 
}